// Accent colors
$primary: #1db954;
$secondary: #191414;
$tertiary: #282828;
$success: #27ae60;
$warning: #f1c40f;
$danger: #e74c3c;

// Text
$primary-text: #fff;
$text-muted: #b3b3b3;

// Background
$background-primary: #191919;
