$font-family-base: 'Inter', sans-serif;
$weight-light: 100;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$btn-font-sm: 0.75rem;
$btn-font-md: 1rem;
$btn-font-lg: 1.25rem;

$font-size-large: 24px;
$font-size-master: 18px;
$font-size-primary: 16px;
$font-size-secondary: 14px;
$font-size-tertiary: 12px;

$icon-size: 16px;
