$container-max-width: 1600;
$header-height: 80;

$max-height: 680;
$font-line-height: 1.2;

$nav-height: 60;
$nav-padding: 20;

// card variables
$card-height: 40;
$card-width: 300;
$card-padding: 20;

// border radius
$border-radius: 5;
